%h1= [@fund.ticker.presence, @fund.trading_name].compact.join(" - ")
%h4= @fund.corporate_name

%table.table.table-striped.sortable
  %thead
    %tr
      %th Mês
      %th Rendimentos distribuidos por cota
      %th Comunicados
  %tbody
    - each_covered_month @communications.map(&:published_at) do |first_day, last_day|
      %tr
        %td=l first_day, format: "%B %Y"
        %td
        %td
          %ul
          - @communications.published_after(first_day).published_before(last_day).each do |doc|
            %li
              = doc.published_at.strftime("%d/%m/%Y: ")
              = doc.title
              = "(#{[link_to("pdf", doc.original_url), doc.plain_text? ? link_to("txt", document_path(doc, format: :txt)) : nil].compact.join(", ")})".html_safe
